
/**
  thanks to https://unsplash.com/@marekpiwnicki
  for the amazing image
**/

body {
  background-image: url('./assets/bg-img.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.clock-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.clock { 
 font-size: 4rem;
 font-family:'Courier New', Courier, monospace

}