
/**
  thanks to https://unsplash.com/@marekpiwnicki
  for the amazing image
**/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/bg-img.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.clock-container{
  padding: 2rem 0;
  width: 100vw;
  backdrop-filter: blur(3px);
}

.clock { 
 font-size: 5rem;
 font-weight: bold;
 font-family:'Courier New', Courier, monospace

}